* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(339deg, #000000, #2c3a6496);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #82808092;
    padding: 20px;
    border-radius: 8px;
    width: 350px;

}

.container h1{
    color: #ffffff;
}

.container p {
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 17px;
}

#password{
    width: 16vw;
    padding: 5px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;
}
.length{
    width: 10vw;
    position: absolute;
    top: 260px;
    margin-left: 10px;
}
.copy-btn{
    padding: 5px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.check-box {
    font-weight: bold;
    color: #ffffff;

}

#strength{
    margin-bottom: 20px;
    font-weight: bold;
    color: #ffffff;
}

.generate-btn{
    background-color: #ffffff;
    color: #000000;
    padding: 8px;
    border: none;
    border-radius: 50px;
    margin-left: 30%;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bolder;
}

