*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(339deg, #000000, #2c3a6496);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #82808092;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    
}

.container p{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.check-box{
    color: aqua;
    margin-bottom: 30px;
}